/* =========================================
		Paths
   ========================================= */
/**
 * Prefix paths with $p_ to make
 * them easier to find with
 * autocomplete
 *
 */

$p_images: '../img/';
$p_fonts: '../fonts/';
$p_svg: '../svg/';
