<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#231f20"/>
    <meta name="description" content=""/>
    <!-- replace the no-js class with js on the html element -->
    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js')</script>

    <title>{{title}}</title>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <!-- best size for Facebook: 1300 X 630 px -->
    <meta property="og:image" content=""/>
    <meta property="og:url" content="">
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content=""/>
    <meta property="article:author" content=""/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content=""/>

    <link rel="stylesheet" href="css/main.css"/>

</head>

<body>